# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.env/
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# IDE
.idea/

# Data directory - excluded from version control
data/
